<main class="tiny">
    <h2><img src="https://lh3.googleusercontent.com/T6irtTlEutG9jVfycf0ryL5voS1EI7p2rmKXi4RpfbN4Z6vN9EZWUHbpV3tD_LH2f9Sji3p0Qi7dxKPzjqg"
            alt="Gislaveds gymnasium">Gislaveds gymnasium
    </h2>

    <div id="menu" data-id="5429050524827648">
        <div id="weeks">
            <div class="week visible" id="week-2021-16" data-year="2021" data-week-of-year="16">
                <h3>Vecka <span>16</span></h3>
                <div class="row">
                    <div class="date">
                        <span class="weekday">Måndag</span>
                        <span class="weekday min">Mån</span>
                        <span class="date">2021-04-19</span>
                    </div>
                    <div class="items">
                        <p>
                            <span>Pastagratäng med kalkon alt. rökt kassler</span>
                        </p>
                        <p>
                            <span>Vegetarisk pastagratäng med ädelost</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="date">
                        <span class="weekday">Tisdag</span>
                        <span class="weekday min">Tis</span>
                        <span class="date">2021-04-20</span>
                    </div>
                    <div class="items">
                        <p>
                            <span>Korv Stroganoff med ris alt. matvete</span>
                        </p>
                        <p>
                            <span>Rotsaksstroganoff med ris alt. matvete</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="date">
                        <span class="weekday">Onsdag</span>
                        <span class="weekday min">Ons</span>
                        <span class="date">2021-04-21</span>
                    </div>
                    <div class="items">
                        <p>
                            <span>Köttfärslimpa med gräddsås, smörkokta haricotsverte och rostad potatis</span>
                        </p>
                        <p>
                            <span>Rödbetsbiffar med rostad potatis och äppelkeso</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="date">
                        <span class="weekday">Torsdag</span>
                        <span class="weekday min">Tors</span>
                        <span class="date">2021-04-22</span>
                    </div>
                    <div class="items">
                        <p>
                            <span>Fiskgratäng med lax och torsk samt potatismos</span>
                        </p>
                        <p>
                            <span>Bön- och tomatgryta med belugalinser</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="date">
                        <span class="weekday">Fredag</span>
                        <span class="weekday min">Fre</span>
                        <span class="date">2021-04-23</span>
                    </div>
                    <div class="items">
                        <p>
                            <span>Lasagne</span>
                        </p>
                        <p>
                            <span>Vegetarisk lasagne</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>