<div class="container">
    <div class="row">
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
        <div class="news-block col-sm-12 col-md-6 col-lg-4 ">
            <h1 class="news-title">
                this tis sa
            </h1>
            <p class="news-des">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis repellendus illo at excepturi facere ad, provident, perspiciatis, rem accusantium omnis quisquam asperiores quae in commodi eius fugit mollitia eaque facilis? Magnam sapiente explicabo vel mollitia commodi facere labore blanditiis distinctio, tenetur provident minima unde non! Sit quidem ullam velit aperiam!
            </p>
        </div>
      
    </div>
</div>
