<div class="container">
    <section class="news">
        <div class="news__items ">
            <div class="news__item" *ngFor="let artikel of News">
                <h1 class="news__title">
                    {{artikel.title}}
                </h1>
                <p class="news__content">
                    {{artikel.content}}
                </p>
                <div class="news__footer">
                    <span class="news__footer__author">
                        {{artikel.author}}
                    </span>
                    <span class="news__footer__date">
                        {{artikel.date }}
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>